<?xml version="1.0" encoding="utf-8" ?>
<routes>
	<route url="/" module="News" action="index" ></route>
	<route url="/news-([0-9]+)\.html" module="News" action="BuildNewsDetail" vars="id" alias="/news-[id].html"></route>
	<route url="/news-insert.html" module="News" action="BuildNews" ></route>
	<route url="/news-update-([0-9]+)\.html" module="News" action="BuildNews" vars="id" alias="/news-update-[id].html"></route>
	<route url="/comment-update-([0-9]+)\.html" module="News" action="BuildCommentForm" vars="news" alias="/comment-update-[news].html"></route>
	<route url="/news/comment/process-([0-9]+)\.html" module="News" action="PutCommentc" vars="news" alias="/news/comment/process-[news].html"></route>
	<route url="/news/comment/process-js-([0-9]+)\.html" module="News" action="PutCommentcJS" vars="news" alias="/news/comment/process-js-[news].html"></route>
	<route url="/news/comment/refresh-js-([0-9]+)\.html" module="News" action="UpdateListCommentcJS" vars="news" alias="/news/comment/refresh-js-[news].html"></route>
	<route url="/news/comment/refresh-js-([0-9]+)\-([0-9]+)\.html" module="News" action="GetListCommentcJS" vars="news,lastcomment" alias="/news/comment/refresh-js-[news]-[lastcomment].html"></route>
	<route url="/subscription" module="Subscription" action="BuildSubscription"></route>
	<route url="/logout" module="Connexion" action="logout" ></route>
	<route url="/login" module="Connexion" action="index" ></route>
</routes>